.container{
    
    height: 100vh;
    padding: 200px 60px;
    display: grid;
    grid-template-rows: 300px 1fr;
    
}
img{
    width: 100px;
    height: 100px;
}
.titulo{
    font-size: 40px;
    
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.icons{
    display: grid;
    grid-template-rows: repeat(2, 40px);
    justify-items: center;
}